Package: com.yourname.mixeverywhere
Name: MixEverywhere
Version: 1.0.0
Architecture: iphoneos-arm
Description: Force enable 'mixWithOthers' for all audio sessions. Use with caution.
Author: Your Name
Maintainer: Your Name
Section: Tweaks
